In [2]:
#imported python packages
import numpy as np
import pandas as pd
from math import sqrt
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


import time
import pickle
import joblib

In [3]:
# import dataset about train dataset 
train_df = pd.read_csv("train_df.csv")

In [4]:
train_df.info()
train_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 52 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   segment_id           602 non-null    int64
 1   time_to_eruption     602 non-null    int64
 2   sensor_1_nanmin      602 non-null    float64
 3   sensor_2_nanmin      602 non-null    float64
 4   sensor_3_nanmin      602 non-null    float64
 5   sensor_4_nanmin      602 non-null    float64
 6   sensor_5_nanmin      602 non-null    float64
 7   sensor_6_nanmin      602 non-null    float64
 8   sensor_7_nanmin      602 non-null    float64
 9   sensor_8_nanmin      602 non-null    float64
 10  sensor_9_nanmin      602 non-null    float64
 11  sensor_10_nanmin     602 non-null    float64
 12  sensor_1_nanmax      602 non-null    float64
 13  sensor_2_nanmax      602 non-null    float64
 14  sensor_3_nanmax      602 non-null    float64
 15  sensor_4_nanmax      602 non-null    float64
 16  sensor_5_nanmax      602 non-null    float64
 17  sensor_6_nanmax      602 non-null    float64
 18  sensor_7_nanmax      602 non-null    float64
 19  sensor_8_nanmax      602 non-null    float64
 20  sensor_9_nanmax      602 non-null    float64
 21  sensor_10_nanmax     602 non-null    float64
 22  sensor_1_nanmedian   602 non-null    float64
 23  sensor_2_nanmedian   602 non-null    float64
 24  sensor_3_nanmedian   602 non-null    float64
 25  sensor_4_nanmedian   602 non-null    float64
 26  sensor_5_nanmedian   602 non-null    float64
 27  sensor_6_nanmedian   602 non-null    float64
 28  sensor_7_nanmedian   602 non-null    float64
 29  sensor_8_nanmedian   602 non-null    float64
 30  sensor_9_nanmedian   602 non-null    float64
 31  sensor_10_nanmedian  602 non-null    float64
 32  sensor_1_nanmean     602 non-null    float64
 33  sensor_2_nanmean     602 non-null    float64
 34  sensor_3_nanmean     602 non-null    float64
 35  sensor_4_nanmean     602 non-null    float64
 36  sensor_5_nanmean     602 non-null    float64
 37  sensor_6_nanmean     602 non-null    float64
 38  sensor_7_nanmean     602 non-null    float64
 39  sensor_8_nanmean     602 non-null    float64
 40  sensor_9_nanmean     602 non-null    float64
 41  sensor_10_nanmean    602 non-null    float64
 42  sensor_1_nanstd      602 non-null    float64
 43  sensor_2_nanstd      602 non-null    float64
 44  sensor_3_nanstd      602 non-null    float64
 45  sensor_4_nanstd      602 non-null    float64
 46  sensor_5_nanstd      602 non-null    float64
 47  sensor_6_nanstd      602 non-null    float64
 48  sensor_7_nanstd      602 non-null    float64
 49  sensor_8_nanstd      602 non-null    float64
 50  sensor_9_nanstd      602 non-null    float64
 51  sensor_10_nanstd     602 non-null    float64
dtypes: float64(50), int64(2)
memory usage: 244.7 KB

,segment_id,time_to_eruption,sensor_1_nanmin,sensor_2_nanmin,sensor_3_nanmin,sensor_4_nanmin,sensor_5_nanmin,sensor_6_nanmin,sensor_7_nanmin,sensor_8_nanmin,...,sensor_1_nanstd,sensor_2_nanstd,sensor_3_nanstd,sensor_4_nanstd,sensor_5_nanstd,sensor_6_nanstd,sensor_7_nanstd,sensor_8_nanstd,sensor_9_nanstd,sensor_10_nanstd
0,1323724621,47861879,-2124.0,-2850.0,-2410.0,-991.0,-1078.0,-2197.0,-4024.0,-2444.0,...,304.556418,336.839651,733.297301,232.474625,97.347796,570.091465,373.866779,574.299883,213.095186,401.136290
1,1581535482,47810569,-2061.0,-7280.0,0.0,-2056.0,-1591.0,-7224.0,-3333.0,-3100.0,...,448.877816,503.899889,0.000000,352.482562,150.162076,2002.897183,533.233834,868.914034,252.359595,630.553190
2,594908465,47775708,-1531.0,-13000.0,-1156.0,-1918.0,-1509.0,-809.0,-1064.0,-938.0,...,342.190608,1258.236329,271.922069,344.210093,230.737410,194.070538,234.100675,222.932381,390.477264,821.316795
3,995669347,47715187,-2130.0,-5213.0,0.0,-1488.0,-1779.0,-6427.0,-5382.0,-13998.0,...,464.925386,393.080345,0.000000,308.931083,142.109170,1710.020864,554.735908,931.369282,328.429315,568.895903
4,895093954,47362238,-1009.0,-4986.0,-931.0,-979.0,-1098.0,-2499.0,-2011.0,-702.0,...,185.900141,549.202012,203.889181,211.165167,128.287458,402.175407,170.829436,186.614540,237.884053,338.188283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,546241772,386910,-1953.0,0.0,-2047.0,-1898.0,-2593.0,-2194.0,-2716.0,0.0,...,275.557088,0.000000,240.808846,399.983434,207.210368,264.248359,291.411985,0.000000,311.783935,615.171584
598,2140509127,376369,-1454.0,-9310.0,-1223.0,-1858.0,-460.0,-3476.0,-4734.0,-2856.0,...,381.743545,943.990710,323.552400,375.720275,23.623666,968.689909,639.425184,780.247065,348.688150,706.266658
599,82371649,273119,-2096.0,-7641.0,-2061.0,-2851.0,-1615.0,-2362.0,-2779.0,-5034.0,...,560.734713,1783.008667,516.670771,676.502377,355.364398,641.416562,523.310707,444.811259,629.645603,1112.261832
600,442994108,28696,-3120.0,-10881.0,-3182.0,-2882.0,-500.0,-8073.0,-5954.0,-5639.0,...,768.764843,1069.847410,727.041662,688.871537,8.594175,1853.461419,1189.510581,1464.082327,505.825412,1191.737480
601,601524801,6250,-9337.0,-6547.0,-2901.0,-2435.0,-1672.0,-4497.0,-2586.0,-3253.0,...,669.263258,862.799352,753.313286,451.722585,256.930614,1097.453207,624.936060,887.333964,387.783883,758.825636

In [5]:
# import dataset about test dataset
test_df = pd.read_csv("test_df.csv")

In [6]:
test_df.info()
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 51 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   segment_id           730 non-null    int64
 1   sensor_1_nanmin      730 non-null    float64
 2   sensor_2_nanmin      730 non-null    float64
 3   sensor_3_nanmin      730 non-null    float64
 4   sensor_4_nanmin      730 non-null    float64
 5   sensor_5_nanmin      730 non-null    float64
 6   sensor_6_nanmin      730 non-null    float64
 7   sensor_7_nanmin      730 non-null    float64
 8   sensor_8_nanmin      730 non-null    float64
 9   sensor_9_nanmin      730 non-null    float64
 10  sensor_10_nanmin     730 non-null    float64
 11  sensor_1_nanmax      730 non-null    float64
 12  sensor_2_nanmax      730 non-null    float64
 13  sensor_3_nanmax      730 non-null    float64
 14  sensor_4_nanmax      730 non-null    float64
 15  sensor_5_nanmax      730 non-null    float64
 16  sensor_6_nanmax      730 non-null    float64
 17  sensor_7_nanmax      730 non-null    float64
 18  sensor_8_nanmax      730 non-null    float64
 19  sensor_9_nanmax      730 non-null    float64
 20  sensor_10_nanmax     730 non-null    float64
 21  sensor_1_nanmedian   730 non-null    float64
 22  sensor_2_nanmedian   730 non-null    float64
 23  sensor_3_nanmedian   730 non-null    float64
 24  sensor_4_nanmedian   730 non-null    float64
 25  sensor_5_nanmedian   730 non-null    float64
 26  sensor_6_nanmedian   730 non-null    float64
 27  sensor_7_nanmedian   730 non-null    float64
 28  sensor_8_nanmedian   730 non-null    float64
 29  sensor_9_nanmedian   730 non-null    float64
 30  sensor_10_nanmedian  730 non-null    float64
 31  sensor_1_nanmean     730 non-null    float64
 32  sensor_2_nanmean     730 non-null    float64
 33  sensor_3_nanmean     730 non-null    float64
 34  sensor_4_nanmean     730 non-null    float64
 35  sensor_5_nanmean     730 non-null    float64
 36  sensor_6_nanmean     730 non-null    float64
 37  sensor_7_nanmean     730 non-null    float64
 38  sensor_8_nanmean     730 non-null    float64
 39  sensor_9_nanmean     730 non-null    float64
 40  sensor_10_nanmean    730 non-null    float64
 41  sensor_1_nanstd      730 non-null    float64
 42  sensor_2_nanstd      730 non-null    float64
 43  sensor_3_nanstd      730 non-null    float64
 44  sensor_4_nanstd      730 non-null    float64
 45  sensor_5_nanstd      730 non-null    float64
 46  sensor_6_nanstd      730 non-null    float64
 47  sensor_7_nanstd      730 non-null    float64
 48  sensor_8_nanstd      730 non-null    float64
 49  sensor_9_nanstd      730 non-null    float64
 50  sensor_10_nanstd     730 non-null    float64
dtypes: float64(50), int64(1)
memory usage: 291.0 KB

,segment_id,sensor_1_nanmin,sensor_2_nanmin,sensor_3_nanmin,sensor_4_nanmin,sensor_5_nanmin,sensor_6_nanmin,sensor_7_nanmin,sensor_8_nanmin,sensor_9_nanmin,...,sensor_1_nanstd,sensor_2_nanstd,sensor_3_nanstd,sensor_4_nanstd,sensor_5_nanstd,sensor_6_nanstd,sensor_7_nanstd,sensor_8_nanstd,sensor_9_nanstd,sensor_10_nanstd
0,19158067,-2399.0,-8479.0,-2144.0,-2389.0,0.0,-1907.0,-2725.0,-2276.0,-2724.0,...,537.587907,1699.642640,488.428506,628.862467,0.000000,626.450176,423.136659,366.716709,603.546006,1030.271718
1,146639315,-1723.0,0.0,-724.0,-1160.0,0.0,-1652.0,-1448.0,-1485.0,-1021.0,...,240.370824,0.000000,193.623152,240.484128,0.000000,458.342099,333.692933,383.048540,227.338089,0.000000
2,53465103,-1954.0,-12546.0,-1598.0,-2226.0,-2141.0,-1945.0,-2745.0,-4303.0,-2517.0,...,342.889228,1229.756449,317.728830,399.617610,276.604136,519.396151,373.585216,563.451633,428.984636,720.398171
3,638074752,0.0,-4235.0,-20655.0,-6658.0,0.0,-9065.0,-4387.0,-5068.0,0.0,...,0.000000,614.304876,3660.014773,962.320752,0.000000,2342.946778,1206.039887,1572.148256,0.000000,0.000000
4,106558646,-25412.0,-32767.0,-32217.0,-27204.0,-10254.0,-10223.0,-15007.0,-14700.0,-30379.0,...,6626.926248,9987.517121,6586.279472,6676.764197,2435.131706,2966.428407,3244.105584,2942.466744,8078.247900,8753.817270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,1265147,0.0,-2902.0,-8789.0,-2326.0,0.0,-1434.0,-2194.0,-1860.0,0.0,...,0.000000,486.778062,1714.410765,364.205085,0.000000,468.322480,323.412116,345.154588,0.000000,0.000000
726,115078097,-3924.0,-9948.0,-3716.0,-4771.0,-1192.0,-6078.0,-249.0,-358.0,-3389.0,...,611.803833,825.136816,509.310464,557.989619,184.299317,1662.581413,53.218984,66.156907,540.139436,849.049759
727,577108378,0.0,-2052.0,-4692.0,-2369.0,0.0,-1905.0,-1070.0,-1422.0,0.0,...,0.000000,450.901986,1424.694280,421.877082,0.000000,537.036483,299.404112,353.516468,0.000000,0.000000
728,108980580,-2973.0,0.0,-1816.0,-4907.0,-4735.0,-1170.0,-1643.0,0.0,-3476.0,...,280.260756,0.000000,242.735532,341.654619,239.321704,259.951368,233.648477,0.000000,347.004512,634.634993
729,613508749,-1738.0,0.0,0.0,-3200.0,-2027.0,-2040.0,-2518.0,-2013.0,-2065.0,...,447.268002,0.000000,0.000000,683.800588,261.880862,550.122621,411.894594,464.514787,455.717788,833.392757

In [7]:
# Splitting the train dataset into test, validation, and train dataset
X_train, X_test, Y_train, Y_test = train_test_split(train_df.drop(columns=["segment_id","time_to_eruption"]),
                                                    train_df[["time_to_eruption"]],
                                                    test_size=0.20)
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size=0.20)

In [8]:
# XGB model loaded
xgb_model = joblib.load('xgb_model.joblib')

In [11]:
# dropped segment_id from test dataset for modeling
X_test = test_df.drop(columns=['segment_id'])

In [12]:
# get the predictions for the test data
Y_pred_xgb = xgb_model.predict(X_test)

In [13]:
# created submission dataset of time_to_eruption for each volcano in test dataset
submission_xgb = pd.DataFrame({
    "ID": test_df['segment_id'], 
    "time_to_eruption": Y_pred_xgb
})

In [14]:
submission_xgb

            ID  time_to_eruption
0     19158067        20410336.0
1    146639315        18491256.0
2     53465103        17373608.0
3    638074752        15291519.0
4    106558646        18897554.0
..         ...               ...
725    1265147        12845576.0
726  115078097        17160516.0
727  577108378        19256466.0
728  108980580        20174238.0
729  613508749        20692662.0

[730 rows x 2 columns]

In [15]:
# Saved the dataframe as a csv file
submission_xgb.to_csv('submission_xgb.csv',index=False)

In [16]:
# RandomForest model loaded
rf_model = joblib.load('rf_model.joblib')

In [17]:
# get the predictions for the test data
Y_pred_rf = rf_model.predict(X_test)

In [18]:
# created submission dataset of time_to_eruption for each volcano in test dataset
submission_rf = pd.DataFrame({
    "ID": test_df['segment_id'], 
    "time_to_eruption": Y_pred_rf
})

In [19]:
submission_rf

            ID  time_to_eruption
0     19158067      2.131316e+07
1    146639315      2.256531e+07
2     53465103      2.195069e+07
3    638074752      2.384152e+07
4    106558646      2.525304e+07
..         ...               ...
725    1265147      2.296232e+07
726  115078097      2.215687e+07
727  577108378      2.505249e+07
728  108980580      2.556551e+07
729  613508749      1.935991e+07

[730 rows x 2 columns]

In [20]:
# Saved the dataframe as a csv file
submission_rf.to_csv('submission_rf.csv',index=False)